<%= form_with(model: cargo, local: true, class: "form-horizontal") do |form| %>
  <% if cargo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cargo.errors.count, "error") %> prohibited this cargo from being saved:</h2>

      <ul>
      <% cargo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :car_id, "ID" , class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= form.text_field :car_id, id: :cargo_car_id, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= form.label :car_desc, "Descripcion" , class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= form.text_field :car_desc, id: :cargo_car_desc, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-9 col-sm-offset-3">
      <div class="actions">
        <%= form.submit "Enviar", class: "btn btn-block btn-success "%>
      </div>
    </div>
  </div>
<% end %>

</form>
