
  <div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Detalles Pais Origen</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <dl class="dl-horizontal">
            <dt>ID</dt>
            <dd><%= @pais_origen.po_id  %></dd>
            <dt>Nombre</dt>
            <dd><%= @pais_origen.po_nom %></dd>
          </dl>
        </div>
      </div>
      <%= link_to '<i class="fa fa-pencil"></i> Editar'.html_safe, edit_pais_origen_path(@pais_origen), class: "btn btn-warning" %>
      <%= link_to '<i class="fa fa-backward"></i> Volver'.html_safe,page_mtb_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
