<p id="notice"><%= notice %></p>

<h1>Edads</h1>

<table>
  <thead>
    <tr>
      <th>Ed desc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @edads.each do |edad| %>
      <tr>
        <td><%= edad.ed_desc %></td>
        <td><%= link_to 'Show', edad %></td>
        <td><%= link_to 'Edit', edit_edad_path(edad) %></td>
        <td><%= link_to 'Destroy', edad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Edad', new_edad_path %>
