
  <div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Detalles Funcion</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <dl class="dl-horizontal">
            <dt>Fecha</dt>
            <dd><%= @funcion.fun_fecha %></dd>
            <dt>Sala</dt>
            <dd><%= @funcion.fun_sala  %></dd>
            <dt>Estado</dt>
            <dd><%= @funcion.est_fun.ef_desc %></dd>
            <dt>Pelicula</dt>
            <dd><%= @funcion.pelicula.peli_nom %></dd>
            <dt>Horario</dt>
            <dd><%= @funcion.horario.hor_desc %></dd>
            <dt>Cine</dt>
            <dd><%= @funcion.sala.cine.cine_nom %></dd>
          </dl>
        </div>
      </div>
      <%= link_to '<i class="fa fa-pencil"></i> Editar'.html_safe, edit_funcion_path(@funcion), class: "btn btn-warning" %>
      <%= link_to '<i class="fa fa-backward"></i> Volver'.html_safe,funcions_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
