
  <div class="row">
    <div class="col-lg-8">
        <h1 class="page-header">Trabajador</h1>
    </div>
    <div class="col-lg-4">
      <button type="button" class="btn btn-block btn-social btn-success" data-toggle="modal" data-target="#nt"><i class="fa fa-plus fa-lg"></i>
        Nuevo Trabajador
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <table width="100%" class="table table-striped table-bordered table-hover" id="t">
            <thead>
              <tr>
                <th>Rut</th>
                <th>Nombres</th>
                <th>Ap. Paterno</th>
                <th>Ap. Materno</th>
                <th>Cargo</th>
                <th>Opciones</th>
              </tr>
            </thead>
            <tbody>
              <% @trabajadors.each do |trabajador| %>
                <tr>
                  <td><%= trabajador.tra_rut %></td>
                  <td><%= trabajador.tra_nom %></td>
                  <td><%= trabajador.tra_apat %></td>
                  <td><%= trabajador.tra_amat %></td>
                  <td><%= trabajador.cargo.car_desc %></td>
                  <td>
                  <%= link_to '<i class="fa fa-eye fa-lg"></i>'.html_safe, trabajador, class: "btn btn-success btn-circle" %>
                  <%= link_to '<i class="fa fa-pencil fa-lg"></i>'.html_safe, edit_trabajador_path(trabajador), class: "btn btn-warning btn-circle" %>
                  <%= link_to '<i class="fa fa-trash-o fa-lg"></i>'.html_safe, trabajador, method: :delete, class: "btn btn-danger btn-circle" , data: { confirm: 'Are you sure?' } %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="nt" tabindex="-1" role="dialog" aria-labelledby="ntLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="ntLabel">Nuevo Trabajador</h4>
        </div>
        <div class="modal-body">
          <%= render 'form', trabajador: @trabajador %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('#t').DataTable();
  });
  $('#nt').on('shown.bs.modal', function () {
    $('#myInput').focus();
  });
</script>
