
  <div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Detalles Trabajador</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <dl class="dl-horizontal">
            <dt>Rut</dt>
            <dd><%= @trabajador.tra_rut %></dd>
            <dt>Nombre</dt>
            <dd><%= @trabajador.tra_nom  %></dd>
            <dt>Ap. Paterno</dt>
            <dd><%= @trabajador.tra_apat %></dd>
            <dt>Ap. Materno</dt>
            <dd><%= @trabajador.tra_amat %></dd>
            <dt>Direccion</dt>
            <dd><%= @trabajador.tra_direc %></dd>
            <dt>Telefono</dt>
            <dd><%= @trabajador.tra_fono %></dd>
            <dt>Mail</dt>
            <dd><%= @trabajador.tra_mail %></dd>
            <dt>Contraseña</dt>
            <dd><%= @trabajador.tra_pass %></dd>
            <dt>Cargo</dt>
            <dd><%= @trabajador.cargo.car_desc %></dd>
            <dt>Cine</dt>
            <dd><%= @trabajador.cine.cine_nom %></dd>
          </dl>
        </div>
      </div>
      <%= link_to '<i class="fa fa-pencil"></i> Editar'.html_safe, edit_trabajador_path(@trabajador), class: "btn btn-warning" %>
      <%= link_to '<i class="fa fa-backward"></i> Volver'.html_safe, trabajadors_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
