<div class="row">
  <div class="col-lg-8">
      <h1 class="page-header">Auditoria</h1>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <table width="100%" class="table table-striped table-bordered table-hover" id="a">
          <thead>
            <tr>
              <th>Transaccion</th>
              <th>Tabla Auditada</th>
              <th>Fecha cambio</th>
              <th>Usuario</th>
              <th>Id tabla</th>
              <th>Dato nuevo</th>
              <th>Dato antiguo</th>
            </tr>
          </thead>
          <tbody>
            <% @audi.each do |a| %>
            <tr>
              <td><%= a.aud_trans %></td>
              <td><%= a.aud_table %></td>
              <td><%= a.aud_fecha %></td>
              <td><%= a.aud_user %></td>
              <td><%= a.aud_tabla_id %></td>
              <td><%= a.aud_nuevo %></td>
              <td><%= a.aud_antiguo %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('#a').DataTable();
  });
</script>
