<div class="row">
  <div class="col-lg-12">
      <h1 class="page-header">Bienvenido</h1>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-md-offset-2">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-users fa-5x"></i>
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge"><%= @trab %></div>
                <div>Trabajadores</div>
              </div>
            </div>
          </div>
          <a href="#">
            <div class="panel-footer">
              <span class="pull-left"><%= link_to 'Ver Detalles', trabajadors_path %></span>
              <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
              <div class="clearfix"></div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="panel panel-green">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-ticket fa-5x"></i>
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge"><%= @tick %></div>
                <div>Tickets</div>
              </div>
            </div>
          </div>
          <a href="#">
            <div class="panel-footer">
                <span class="pull-left"><%= link_to 'Ver Detalles', tickets_path %></span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-md-offset-2">
        <div class="panel panel-yellow">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-video-camera fa-5x"></i>
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge"><%= @fun %></div>
                <div>Funciones</div>
              </div>
            </div>
          </div>
          <a href="#">
              <div class="panel-footer">
                <span class="pull-left"><%= link_to 'Ver Detalles', funcions_path %></span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
              </div>
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="panel panel-red">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-film fa-5x"></i>
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge"><%= @pel %></div>
                <div>Peliculas</div>
              </div>
            </div>
          </div>
          <a href="#">
            <div class="panel-footer">
              <span class="pull-left"><%= link_to 'Ver Detalles', peliculas_path %></span>
              <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
              <div class="clearfix"></div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
