<div class="row">
  <div class="col-lg-8">
      <h1 class="page-header">Cine</h1>
  </div>
  <div class="col-lg-4">
    <button type="button" class="btn btn-block btn-social btn-success" data-toggle="modal" data-target="#ci"><i class="fa fa-plus fa-lg"></i>
      Nuevo Cine
    </button>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <table width="100%" class="table table-striped table-bordered table-hover" id="c">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Direccion</th>
              <th>Telefono</th>
              <th width="12%">Opciones</th>
            </tr>
          </thead>
          <tbody>
            <% @cines.each do |cine| %>
            <% @t = cine.trabajador.count @s = cine.sala.count %>
              <tr>
                <td><%= cine.cine_nom %></td>
                <td><%= cine.cine_direc %></td>
                <td><%= cine.cine_fono %></td>
                <td>
                  <%= link_to '<i class="fa fa-pencil fa-lg"></i>'.html_safe, edit_cine_path(cine), class: "btn btn-warning btn-circle" %>
                  <% if ( @t > 0 || @s > 0 ) %>
                  <button class="btn btn-danger btn-circle" disabled="disabled" data-toggle="tooltip" data-placement="right" title="Cant. Trabajadores = <%= @t %> Cant. Salas = <%= @s %>"><i class="fa fa-trash-o fa-lg"></i></button>
                  <% else %>
                  <%= link_to '<i class="fa fa-trash-o fa-lg"></i>'.html_safe, cine, method: :delete,  class: "btn btn-danger btn-circle", data: { confirm: 'Are you sure?' } %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="ci" tabindex="-1" role="dialog" aria-labelledby="ciLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="ciLabel">Nuevo Cine</h4>
      </div>
      <div class="modal-body">
        <%= render 'form', cine: @cine %>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('#c').DataTable();
  });
  $('#myModal').on('shown.bs.modal', function () {
    $('#myInput').focus();
  });
</script>
