<%= form_with(model: ticket, local: true, class: "form-horizontal") do |form| %>
  <% if ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
      <% ticket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :tick_fecha, "Fecha emision" , class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= form.date_select :tick_fecha, id: :ticket_tick_fecha, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :tick_tt, "Tipo" , class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= form.text_field :tick_tt, id: :ticket_tick_tt, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :tick_fun, "Funcion" , class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= form.text_field :tick_fun, id: :ticket_tick_fun, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :tick_et, "Estado" , class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= form.text_field :tick_et, id: :ticket_tick_et, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-9 col-sm-offset-3">
      <div class="actions">
        <%= form.submit "Enviar", class: "btn btn-block btn-success "%>
      </div>
    </div>
  </div>
<% end %>

</form>
