<p id="notice"><%= notice %></p>

<p>
  <strong>Tick fecha:</strong>
  <%=  %>
</p>


  <div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Detalles Ticket</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <dl class="dl-horizontal">
            <dt>N°</dt>
            <dd><%= @ticket.tick_id %></dd>
            <dt>Fechas Emision</dt>
            <dd><%= @ticket.tick_fecha %></dd>
            <dt>Pelicula</dt>
            <dd><%= @ticket.funcion.pelicula.peli_nom %></dd>
            <dt>Restriccion Edad</dt>
            <dd><%= @ticket.funcion.pelicula.peli_ed %> (<%= @ticket.funcion.pelicula.edad.ed_desc %>)</dd>
            <dt>Tipo</dt>
            <dd><%= @ticket.tick_tt %></dd>
            <dt>Sala</dt>
            <dd>N° <%= @ticket.funcion.sala.sala_id %></dd>
            <dt>Tipo Sala</dt>
            <dd><%= @ticket.funcion.sala.sala_ts %></dd>
            <dt>Estado Ticket</dt>
            <dd><%= @ticket.est_tick.et_desc %></dd>
            <dt>Funcion</dt>
            <dd>N° <%= @ticket.tick_fun %></dd>
            <dt>Fecha Funcion</dt>
            <dd><%= @ticket.funcion.fun_fecha %></dd>
            <dt>Estado Funcion</dt>
            <dd><%= @ticket.funcion.est_fun.ef_desc %></dd>
            <dt>Cine</dt>
            <dd><%= @ticket.funcion.sala.cine.cine_nom %></dd>
          </dl>
        </div>
      </div>
      <%= link_to '<i class="fa fa-pencil"></i> Editar'.html_safe, edit_ticket_path(@ticket), class: "btn btn-warning" %>
      <%= link_to '<i class="fa fa-backward"></i> Volver'.html_safe, tickets_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
