
  <div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Detalles Pelicula</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <dl class="dl-horizontal">
            <dt>ID</dt>
            <dd><%= @pelicula.peli_id %></dd>
            <dt>Nombre</dt>
            <dd><%= @pelicula.peli_nom %></dd>
            <dt>Director</dt>
            <dd><%= @pelicula.peli_direc %></dd>
            <dt>Fecha Estreno</dt>
            <dd><%= @pelicula.peli_fest %></dd>
            <dt>Sinopsis</dt>
            <dd><%= @pelicula.peli_sinop %></dd>
            <dt>Duracion</dt>
            <dd><%= @pelicula.peli_dura %> min</dd>
            <dt>Genero</dt>
            <dd><%= @pelicula.peli_gen %></dd>
            <dt>Restriccion Edad</dt>
            <dd><%= @pelicula.peli_ed %></dd>
            <dt>Pais Origen</dt>
            <dd><%= @pelicula.pais_origen.po_nom %></dd>
          </dl>
        </div>
      </div>
      <%= link_to '<i class="fa fa-pencil"></i> Editar'.html_safe, edit_pelicula_path(@pelicula), class: "btn btn-warning" %>
      <%= link_to '<i class="fa fa-backward"></i> Volver'.html_safe, peliculas_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
