<div class="row">
  <div class="col-lg-10 col-lg-offset-1">
      <h1 class="page-header">Ingreso Popcorn</h1>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="col-lg-4 col-lg-offset-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-group">
              <%= f.label :email, "Correo", class: "col-sm-3 control-label" %><br />
              <%= f.email_field :email, autofocus: true,  class: "form-control"  %>
            </div>

            <div class="form-group">
              <%= f.label :password, "Contraseña", class: "col-sm-3 control-label" %><br />
              <%= f.password_field :password, autocomplete: "off",  class: "form-control"  %>
            </div>

            <% if devise_mapping.rememberable? -%>
              <div class="form-group">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me, "Recordarme" %>
              </div>
            <% end -%>
            <div class="form-group">
              <div class="actions">
                <button class="btn btn-block btn-success" disabled="disabled">Ingresar</button>
                <%#= f.submit "Ingresar", class: "btn btn-block btn-success "%>
              </div>
            </div>
          <% end %>
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
