<%= form_with(model: prueba, local: true) do |form| %>
  <% if prueba.errors.any? %>
    <div id="error_explanation">
      <h2>Error:</h2>
      <ul>
      <% prueba.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :titulo %>
    <%= form.text_area :titulo, id: :prueba_titulo %>
  </div>

  <div class="field">
    <%= form.label :precio %>
    <%= form.text_field :precio, id: :prueba_precio %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
