<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @prueba.titulo %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @prueba.precio %>
</p>

<%= link_to 'Edit', edit_prueba_path(@prueba) %> |
<%= link_to 'Back', pruebas_path %>
