<%= form_with(model: tipo_ticket, local: true, class: "form-horizontal") do |form| %>
  <% if tipo_ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tipo_ticket.errors.count, "error") %> prohibited this tipo_ticket from being saved:</h2>

      <ul>
      <% tipo_ticket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :tt_id, "ID" , class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= form.text_field :tt_id, id: :tipo_ticket_tt_id, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= form.label :tt_desc , "Descripcion" , class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= form.text_field :tt_desc, id: :tipo_ticket_tt_desc, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-9 col-sm-offset-3">
      <div class="actions">
        <%= form.submit "Enviar", class: "btn btn-block btn-success "%>
      </div>
    </div>
  </div>
  <% end %>

</form>
