<%= form_with(model: sala, local: true,  class: "form-horizontal") do |form| %>
  <% if sala.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sala.errors.count, "error") %> prohibited this sala from being saved:</h2>

      <ul>
      <% sala.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :sala_cap, "Capacidad" , class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= form.number_field :sala_cap, id: :sala_sala_cap, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :sala_ts, "Tipo Sala" , class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= form.text_field :sala_ts, id: :sala_sala_ts, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :sala_cine, "Cine" , class: "col-sm-3 control-label"%>
    <div class="col-sm-9">
      <%= form.text_field :sala_cine, id: :sala_sala_cine, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-9 col-sm-offset-3">
      <div class="actions">
        <%= form.submit "Enviar", class: "btn btn-block btn-success "%>
      </div>
    </div>
  </div>
<% end %>

</form>
